<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <div class="row g-xl-5">
      <div class="col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
      <div class="img w-100" style="background-image:url(images/xabout.jpg.pagespeed.ic.cvAg9veoWl.webp)">
      </div>
      </div>
      <div class="col-md-6 heading-section d-flex align-items-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
      <div class="mt-0 my-lg-5 py-5">
      <span class="subheading">I'm Nicole Kate Perry</span>
      <h2 class="mb-2">I am a Blogger &amp; Photographer Based in Philippines</h2>
      <div class="row mt-4 g-lg-2">
      <div class="col-lg-12 d-flex align-items-stretch services-wrap">
      <div class="services d-flex">
      <div class="icon"><span class="flaticon-copywriting"></span></div>
      <div class="text">
      <h2>Writter &amp; Blogger</h2>
      <p class="mb-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
      </div>
      </div>
      <div class="col-lg-12 d-flex align-items-stretch services-wrap">
      <div class="services d-flex">
      <div class="icon"><span class="flaticon-tourist"></span></div>
      <div class="text">
      <h2>Photographer</h2>
      <p class="mb-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
      </div>
      </div>
      <div class="col-lg-12 d-flex align-items-stretch services-wrap">
      <div class="services d-flex">
      <div class="icon"><span class="flaticon-internet-explorer"></span></div>
      <div class="text">
      <h2>Explorer and Traveler</h2>
      <p class="mb-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>